* {
  margin: 0;
  padding: 0;
}
.logo {
  height: 50px;
  width: 80px;
  margin-top: 10px;
}

.left-side-bar {
  color: dodgerblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 20vw;
  height: 100vh;
  border-radius: 10px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.alignment {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}
.para-element {
  margin-top: 20px;
  font-size: 30px;
}

.new-button-design {
  height: 8vh;
  width: 7vw;
  margin-left: 70px;
  margin-top: 40px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.new-button-design:hover {
  background-color: antiquewhite;
}
